<odoo>
    <data>

        <menuitem id="menu_hospital_root"
                  name="HMS"
                  web_icon = "om_hospital,static/description/icon.png"
                  sequence = "6"/>

        <menuitem id="menu_frontdesk"
                  name = "Front Desk"
                  parent = "menu_hospital_root"/>

        <menuitem id="menu_patients"
                  name = "Patients"
                  parent = "menu_frontdesk"
                  action = "patient_action"/>

         <menuitem id="menu_patients_read_only"
                  name = "View Patients"
                  parent = "menu_frontdesk"
                  action = "patient_readonly_action"/>

         <menuitem id="menu_appointments"
                  name = "Appointments"
                  parent = "menu_frontdesk"
                  action = "action_hospital_appointment"/>

        <menuitem id="menu_appointments_line"
                  name = "Appointments Line"
                  parent = "menu_frontdesk"
                  action = "action_hospital_appointment_line"/>

          <menuitem id="menu_configuration"
                    name = "Configuration"
                    sequence = "100 "
                    groups = "om_hospital.group_hospital_doctor"
                    parent = "menu_hospital_root"/>

          <menuitem id="menu_patient_tag"
                    name = "Tags"
                    parent = "menu_configuration"
                    action = "patient_tag_action"/>


    </data>
</odoo>